rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bbs_posts/{postId} {
      allow read: if true;
      allow create: if request.resource.data.image is string
                    && request.resource.data.image.size() < 900000
                    && request.resource.data.name is string
                    && request.resource.data.name.size() < 20
                    && request.resource.data.comment is string
                    && request.resource.data.comment.size() < 60;
      allow update, delete: if false;
    }
    match /diary_posts/{postId} {
      allow read: if true;
      allow create: if request.resource.data.body is string
                    && request.resource.data.body.size() < 3000
                    && request.resource.data.title is string
                    && request.resource.data.title.size() < 60;
      allow update, delete: if false;
    }
    match /notices/{noticeId} {
      allow read: if true;
      allow create: if request.resource.data.text is string
                    && request.resource.data.text.size() < 100;
      allow update, delete: if false;
    }
    match /haishin_memos/{memoId} {
      allow read: if true;
      allow create: if request.resource.data.url is string
                    && request.resource.data.url.size() < 300
                    && request.resource.data.comment is string
                    && request.resource.data.comment.size() < 600
                    && (request.resource.data.image == null
                        || (request.resource.data.image is string
                            && request.resource.data.image.size() < 900000));
      allow update, delete: if false;
    }
    match /clap_messages/{msgId} {
      allow read: if request.auth != null;
      allow create: if request.resource.data.message is string
                    && request.resource.data.message.size() < 500;
      allow update: if request.auth != null;
      allow delete: if false;
    }
    match /clap_replies/{replyId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.data.reply is string
                    && request.resource.data.reply.size() < 500;
      allow update, delete: if false;
    }
    match /clap_stats/{statId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
